

<style>
    .navbar {
        background-color: var(--primary);
    }
</style>
<nav class="navbar">
    <div class="navbar-left">
        <a class="navbar-brand" href="/">
            <span style="color:white;">Home</span>
        </a>
    </div>
    <div class="navbar-toggle" id="navbar-toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <ul class="navbar-menu" id="navbar-menu">
        <li class="navbar-item"><a href="/Admin/AdminDashBoard">DashBoard</a></li>
        <li class="navbar-item"><a href="/Account/Login">Logout</a></li>
    </ul>
</nav>
<script>
    // Toggle Navbar Menu
    document.getElementById('navbar-toggle').addEventListener('click', () => {
        const menu = document.getElementById('navbar-menu');
        menu.classList.toggle('active');
    });
</script>


@model Election.ViewModel.WinnerViewModel


@{
    ViewData["Title"] = "Election Winner";
}

<h1 class="text-center">Winner Details</h1>

<div class="card mx-auto" style="width: 18rem;">
    <img src="@Model.Photopath" class="card-img-top" alt="@Model.Name" style="height: 200px; object-fit: cover;">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">Party: @Model.Party</p>
        <p class="card-text">Votes: @Model.VoteCount</p>
    </div>
</div>
